@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Overpass:wght@100&display=swap');
*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/**CABEÇALHOR**/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid black;
    
}
/**MENU NAV**/
.nav{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
    width: 100vw;
    height: 9vh;
}
/**LOGO NAV**/
.logo-header{
    width: 30vw;
    height: 9vh;
    margin-left: 2rem;
    justify-content: flex-start;
}
/**ITEM NAV**/
.item-nav{
    justify-content: right;
    font-size: larger;
    font-family: 'Overpass', sans-serif;
    color: #a52a2a;
    width: 10vw;
    text-align: center;
}
.item-nav::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #a52a2a;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
  
.item-nav:hover::before {
    width: 10vw;
}